.submenu
  .submenu__active О компании
  button.submenu__menuButton: +the_svg(require('src/img/menu.sprite.svg'))
  .submenu__items
    button.submenu__closeButton: +the_svg(require('src/img/close.sprite.svg'))
    a.submenu__item(href='#') О компании
    a.submenu__item(href='#') Лицензии и аккредитации
    a.submenu__item(href='#') Руководство
    a.submenu__item(href='#') Партнеры
    a.submenu__item(href='#') Отзывы
    a.submenu__item(href='#') Карьера
    a.submenu__item(href='#') Реквизиты
