.submenu
  .submenu__items
    a.submenu__item(href='#') О компании
    a.submenu__item(href='#') Лицензии и аккредитации
    a.submenu__item(href='#') Руководство
    a.submenu__item(href='#') Партнеры
    a.submenu__item(href='#') Отзывы
    a.submenu__item(href='#') Карьера
    a.submenu__item(href='#') Реквизиты
