.testimonials {
  &__slider {
    position: relative;
  }

  &__container {
    overflow: hidden;
    margin: -15px;
  }

  &__items {
    display: flex;
  }

  &__item {
    flex-shrink: 0;
    padding: 15px;
  }

  &__card {
    @include shadow();
    padding: 35px 25px 20px;
  }

  &__head {
    display: flex;
    margin-bottom: 30px;
  }

  &__logo {
    margin-right: 30px;
    img {
      max-width: 150px;
      height: auto;
    }
  }

  &__header {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__sub {
    font-size: 18px;
    font-weight: 500;
  }

  &__text {
    color: $dark-grey;
    margin-bottom: 10px;
  }

  &__link {
    color: $blue;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }
}
