.pagination {
  $this: &;

  margin-top: 50px;
  display: flex;
  align-items: center;

  &__more {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__pages {
    a {
      font-size: 18px;
      margin-right: 10px;
      color: $black;

      &:hover {
        text-decoration: none;
        color: $blue;
      }

      &.active {
        font-weight: 600;
        color: $blue;
      }
    }
  }

  &__next {
    svg {
      width: 12px;
      height: 12px;
      color: $blue;
    }
  }

  &__sort {
    margin-right: 15px;

    svg {
      display: block;
      width: 28px;
      height: 28px;
      color: $blue;
    }
  }
}
