.fines {
  $this: &;

  &__items {
    margin: 40px 0;
    position: relative;
  }

  &__item {
    margin-bottom: 25px;
    @include media('md') {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      #{$this}__header {
        background: $light-light-grey;
      }

      #{$this}__body {
        z-index: 1;
        opacity: 1;
        visibility: visible;
        transform: none;

        @include media('md') {
          max-height: none;
        }
      }
    }
  }

  &__header {
    height: 100px;
    width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
    font-weight: 600;
    color: $blue;
    margin-bottom: 25px;
    padding: 0 30px;
    cursor: pointer;
    @include shadow();
    @include anim();

    @include media('md') {
      height: 75px;
      font-size: 14px;
      width: 100%;
      margin-bottom: 0;
    }
  }

  &__body {
    position: absolute;
    top: 0;
    right: 0;
    left: 480px;
    height: 100%;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transform: translateY(20px);
    @include anim(.2s);

    @include media('md') {
      margin: -5px;
      padding: 5px;
      height: auto;
      position: static;
      max-height: 0;
      overflow: hidden;
      transform: translateY(10px);
    }
  }

  &__content {
    height: 100%;
    padding: 25px 30px;
    @include shadow();
    @include media('md') {
      height: auto;
      margin-top: 15px;
      margin-bottom: 5px;
      padding: 20px;
    }
  }

  &__listItem {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    @include media('md') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__description {
    color: $dark-grey;
    font-size: 14px;
    @include media('md') {
      font-size: 12px;
    }
  }

  &__price {
    color: $blue;
    font-size: 22px;
    font-weight: 600;
    padding-left: 20px;
    margin-left: auto;
    flex-shrink: 0;
    @include media('md') {
      padding: 0;
      margin: 0;
      font-size: 14px;
      margin-top: 10px;
    }
  }
}
