.fines.block
  .blockHeader
    h2 ШТРАФНЫЕ САНКЦИИ
  .content
    p Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.  Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.

  .fines__items
    .fines__item.fines__item--active
      .fines__header Юридические лица
      .fines__body
        .fines__content
          .fines__list
            .fines__listItem
              .fines__description Штраф за отсутствие обучения при первичном нарушении (КоАП РФ Статья 5.27.1)
              .fines__price до 130 000 руб.
            .fines__listItem
              .fines__description Штраф за отсутствие обучения при первичном нарушении (КоАП РФ Статья 5.27.1)
              .fines__price до 130 000 руб.
    .fines__item
      .fines__header Физические лица
      .fines__body
        .fines__content
          .fines__list
            .fines__listItem
              .fines__description Штраф за отсутствие обучения при первичном нарушении (КоАП РФ Статья 5.27.1)
              .fines__price до 130 000 руб.
            .fines__listItem
              .fines__description Штраф за отсутствие обучения при первичном нарушении (КоАП РФ Статья 5.27.1)
              .fines__price до 130 000 руб.
    .fines__item
      .fines__header Индивидуальные предприниматели
      .fines__body
        .fines__content
          .fines__list
            .fines__listItem
              .fines__description Штраф за отсутствие обучения при первичном нарушении (КоАП РФ Статья 5.27.1)
              .fines__price до 130 000 руб.
            .fines__listItem
              .fines__description Штраф за отсутствие обучения при первичном нарушении (КоАП РФ Статья 5.27.1)
              .fines__price до 130 000 руб.

  .content
    p Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.  Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.
