.fines.block
  .blockHeader
    h2 ШТРАФНЫЕ САНКЦИИ
  .content
    p Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.  Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.

  .fines__tabs
    .fines__headers
      .fines__header.fines__header--active Юридические лица
      .fines__header Физические лица
      .fines__header Индивидуальные предприниматели
    .fines__bodies
      .fines__body.fines__body--active
        .fines__list
          .fines__item
            .fines__description Штраф за отсутствие обучения при первичном нарушении (КоАП РФ Статья 5.27.1)
            .fines__price до 130 000 руб.
          .fines__item
            .fines__description Штраф за отсутствие обучения при первичном нарушении (КоАП РФ Статья 5.27.1)
            .fines__price до 130 000 руб.
      .fines__body
        .fines__list
          .fines__item
            .fines__description Штраф за отсутствие обучения при первичном нарушении (КоАП РФ Статья 5.27.1)
            .fines__price до 130 000 руб.
          .fines__item
            .fines__description Штраф за отсутствие обучения при первичном нарушении (КоАП РФ Статья 5.27.1)
            .fines__price до 130 000 руб.
      .fines__body
        .fines__list
          .fines__item
            .fines__description Штраф за отсутствие обучения при первичном нарушении (КоАП РФ Статья 5.27.1)
            .fines__price до 130 000 руб.
          .fines__item
            .fines__description Штраф за отсутствие обучения при первичном нарушении (КоАП РФ Статья 5.27.1)
            .fines__price до 130 000 руб.



  .content
    p Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.  Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.
