.services.block
  .c
    h2 УСЛУГИ
    .services__row
      .services__main
        .services__items
          .services__item
            a.services__card(href='#' style='background-image: url(' + require('src/modules/services/img/img.jpg') + ')')
              .services__header Специальная оценка условий труда
              .services__content
                .services__title Специальная оценка условий труда
                .services__text Сформированные за десятилетия собственные методики и опыт позволяют нашим экспертам даже в рамках ограниченного бюджета выполнять качественные проекты.
                .services__sub #[b Цена:] от 500 руб.
          .services__item
            a.services__card(href='#' style='background-image: url(' + require('src/modules/services/img/img.jpg') + ')')
              .services__header Профессиональная переподготовка
              .services__content
                .services__title Профессиональная переподготовка
                .services__text Сформированные за десятилетия собственные методики и опыт позволяют нашим экспертам даже в рамках ограниченного бюджета выполнять качественные проекты.
                .services__sub #[b Цена:] от 500 руб.
          .services__item
            a.services__card(href='#' style='background-image: url(' + require('src/modules/services/img/img.jpg') + ')')
              .services__header Оценка профессиональных рисков
              .services__content
                .services__title Оценка профессиональных рисков
                .services__text Сформированные за десятилетия собственные методики и опыт позволяют нашим экспертам даже в рамках ограниченного бюджета выполнять качественные проекты.
                .services__sub #[b Цена:] от 500 руб.
          .services__item
            a.services__card(href='#' style='background-image: url(' + require('src/modules/services/img/img.jpg') + ')')
              .services__header Производственный контроль
              .services__content
                .services__title Производственный контроль
                .services__text Сформированные за десятилетия собственные методики и опыт позволяют нашим экспертам даже в рамках ограниченного бюджета выполнять качественные проекты.
                .services__sub #[b Цена:] от 500 руб.

      .services__aside
        .services__bullet
          .services__number 15 лет
          | в сфере охраны труда
        .services__bullet
          .services__number 17 445
          | реализовано проектов разной сложности
        .services__bullet
          .services__number 14 373
          | обучено специалистов

        .services__more
          a.btn(href='#') Больше услуг
