.people {
  $this: &;

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    padding: 15px;
    width: 50%;
  }

  &__card {
    display: flex;
    @include shadow();
  }

  &__image {
    width: 230px;
    min-height: 335px;
    flex-shrink: 0;
    background: $black 50% 50% no-repeat;
    background-size: cover;
  }

  &__content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
    color: $blue;
    margin-bottom: 15px;
  }

  &__position {
    margin-top: 15px;
    font-size: 12px;
    color: $grey;
  }

  &__text {
    font-size: 14px;
  }
}
