.partners.block
  .partners__items
    each i in [1,2,3,4]
      .partners__item
        .partners__logo: img(src=require('src/modules/partners/img/img.jpg'))
        .partners__content
          .partners__name Ассоциация «СИЗ»
          .partners__text.content
            p – саморегулируемая некоммерческая организация «Ассоциация разработчиков, изготовителей и поставщиков средств индивидуальной защиты» объединяет компании и организации, работающие в сфере обеспечения безопасности человека в процессе трудовой деятельности. В своей работе Ассоциация взаимодействует с органами государственной власти и участвует в разработке нормативных актов, внося свой вклад в осуществление политики в области охраны труда (зарегистрирована в 2002 году).
          .partners__link
            a(href='#')
              +the_svg(require('src/img/web.sprite.svg'))
              | website
