.partners {
  $this: &;

  &__item {
    display: flex;
    padding: 30px 20px;
    margin-bottom: 30px;
    @include shadow();
    @include media('md') {
      padding: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__logo {
    width: 180px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    @include media('md') {
      position: absolute;
      width: 50px;
      height: 50px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &__name {
    font-size: 22px;
    font-weight: 600;
    color: $blue;
    margin-bottom: 20px;
    @include media('md') {
      padding-left: 70px;
      min-height: 50px;
      font-size: 16px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  }

  &__link {
    margin-top: 20px;
    text-align: right;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      vertical-align: middle;
    }
  }
}
