.lineForm
  .lineForm__input: input(placeholder='ФИО')
  .lineForm__input: input(placeholder='E-mail')
  .lineForm__input: input(type='tel' placeholder='Телефон')
  .lineForm__confirm
    label.checkbox
      input(type='checkbox')
      span Согласен(а) на #[br]обработку моих #[br]#[a(href='#') персональных данных]
  .lineForm__button
    button.btn.btn--orange Оставить заявку
