.pricelist.block
  .blockHeader
    h2 СТОИМОСТЬ
  .pricelist__items
    .pricelist__item
      .pricelist__name Система управления охраной труда (очно)
      .pricelist__price от 500 руб.
    .pricelist__item
      .pricelist__name Система управления охраной труда (очно)
      .pricelist__price от 500 руб.

  .pricelist__content.content
    p Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.  Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.
