.pricelist.block
  .blockHeader
    h2 СТОИМОСТЬ
  .pricelist__items
    .pricelist__item
      .pricelist__row
        .pricelist__name Система управления охраной труда (очно)
        button.pricelist__question: +the_svg(require('src/img/question.sprite.svg'))
        .pricelist__price от 500 руб.
      .pricelist__note
        | #[b Кол-во часов:] 48
        br
        |#[b Документ об окончании:] удостоверение установленного образца
    .pricelist__item
      .pricelist__row
        .pricelist__name Система управления охраной труда (очно)
        button.pricelist__question: +the_svg(require('src/img/question.sprite.svg'))
        .pricelist__price от 500 руб.
      .pricelist__note
        | #[b Кол-во часов:] 48
        br
        | #[b Документ об окончании:] удостоверение установленного образца

  .pricelist__content.content
      p Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.  Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.
