.headerFloat
  .c.headerFloat__content
    .headerFloat__logo: img(src=require('src/img/logo_sm.png'))
    .headerFloat__menu
      ul
        li: a(href='#') О компании
        li: a(href='#') Услуги
        li: a(href='#') Мероприятия
        li: a(href='#') Пресс-центр
        li: a(href='#') Контакты
    .headerFloat__phone: a(href='#') +7 (495) 191-08-97
    button.headerFloat__contact: +the_svg(require('src/img/phone.sprite.svg'))
    button.headerFloat__hamburger: +the_svg(require('src/img/menu.sprite.svg'))
    button.headerFloat__search: +the_svg(require('src/img/search.sprite.svg'))
