.subscribe {
  $this: &;

  &--bg {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
    background: $black 50% 50% no-repeat;
    background-size: cover;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $black;
      opacity: .65;
    }

    & #{$this}__row {
      position: relative;
      z-index: 1;
      color: $white;
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__content {
    max-width: 670px;
    font-size: 22px;
  }

  &__form {
    width: 360px;
    margin-left: auto;
  }

  &__input {
    margin-bottom: 20px;
    //height: 100%;

    input {
      display: block;
      height: 100%;
      width: 100%;
      border: 1px solid $grey;
      border-radius: 5px;
      font-size: 14px;
      padding: 15px 20px;
      //@include placeholder($white);
    }
  }

  &__confirm {
    align-self: center;
    margin-right: 20px;
  }

}
