.subscribe.block
  .subscribe__row
    .subscribe__content.content
      h2 ПОДПИШИТЕСЬ НА НОВОСТИ
      h4 Будьте в курсе всех последних изменений в отрасли
      p Подпишитесь на нашу новостную рассылку и будьте в курсе всех изменений
    .subscribe__form
      .subscribe__input: input(placeholder='ФИО')
      .subscribe__input: input(placeholder='E-mail')
      .subscribe__checkbox
        label.checkbox
          input(type='checkbox')
          span Согласен(а) на обработку моих #[br]#[a(href='#') персональных данных]
      .subscribe__button
        button.btn.btn--block Подписаться
