.steps.block
  .blockHeader
    h2 ЭТАПЫ
  .steps__items
    .steps__item
      .steps__head
        .steps__number 01
          +the_svg(require('src/img/arrow.sprite.svg'))(class="steps__arrow")
        .steps__header Сбор данных о предприятии и определение
      .steps__text рабочих мест с присвоением классов и подклассов вредности рабочих мест с присвоением классов и подклассов вредности рабочих мест с присвоением классов и подклассов вредности рабочих мест с
    .steps__item
      .steps__head
        .steps__number 02
          +the_svg(require('src/img/arrow.sprite.svg'))(class="steps__arrow")
        .steps__header Сбор данных о предприятии и определение
      .steps__text рабочих мест с присвоением классов и подклассов вредности рабочих мест с присвоением классов и подклассов вредности рабочих мест с присвоением классов и подклассов вредности рабочих мест с
    .steps__item
      .steps__head
        .steps__number 03
          +the_svg(require('src/img/arrow.sprite.svg'))(class="steps__arrow")
        .steps__header Сбор данных о предприятии и определение
      .steps__text рабочих мест с присвоением классов и подклассов вредности рабочих мест с присвоением классов и подклассов вредности рабочих мест с присвоением классов и подклассов вредности рабочих мест с
    .steps__item
      .steps__head
        .steps__number 04
          +the_svg(require('src/img/arrow.sprite.svg'))(class="steps__arrow")
        .steps__header Сбор данных о предприятии и определение
      .steps__text рабочих мест с присвоением классов и подклассов вредности рабочих мест с присвоением классов и подклассов вредности рабочих мест с присвоением классов и подклассов вредности рабочих мест с
