.steps {
  $this: &;

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -35px;
    @include media('md') {
      margin: 0;
    }
  }

  &__item {
    width: 33.333%;
    padding: 35px;
    @include media('md') {
      width: 100%;
      padding: 0;
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }

    &:last-child {
      & #{$this}__arrow {
        display: none;
      }
    }
  }

  &__head {
    @include media('md') {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &__number {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    background: $blue;
    @include shadow();
    font-size: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    margin-bottom: 50px;
    @include media('md') {
      width: 65px;
      height: 65px;
      flex-shrink: 0;
      font-size: 24px;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  &__arrow {
    position: absolute;
    width: 26px;
    height: 26px;
    color: $light-light-grey;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    margin-left: 45px;
    @include media('md') {
      display: none;
    }
  }

  &__header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    @include media('md') {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  &__text {
    font-size: 14px;
    color: $dark-grey;
    @include media('md') {
      font-size: 12px;
    }
  }
}
