.contactCard
  .contactCard__image: img(src=require('src/modules/contactCard/img/img.jpg'))
  .contactCard__name Ольга Баишева
  .contactCard__position HR-менеджер
  a.contactCard__phone(href='tel:#') +7 (495) 260-11-47, доб. 5
  a.contactCard__email(href='mailto:#') hr@eactt.ru
