.serviceArticles.block
  .serviceArticles__row
    .serviceArticles__info
      .content
        h2 СТАТЬИ ОБ УСЛУГЕ
        p Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.  Когда человек сознательно или интуитивно выбирает себе в жизни какую-то цель, жизненную задачу, он невольно дает себе оценку.
      .serviceArticles__button
        a.btn.btn--outline(href='#')
          span Смотреть все
          +the_svg(require('src/img/arrow.sprite.svg'))(class="btn__icon")

    .serviceArticles__list
      a.serviceArticles__item(href='#')
        .serviceArticles__header Как ГИТ будет проверять работодателей в 2021 году?
        .serviceArticles__date 01.03.2020
        +the_svg(require('src/img/arrow.sprite.svg'))(class="serviceArticles__arrow")
      a.serviceArticles__item(href='#')
        .serviceArticles__header Как ГИТ будет проверять работодателей в 2021 году?
        .serviceArticles__date 01.03.2020
        +the_svg(require('src/img/arrow.sprite.svg'))(class="serviceArticles__arrow")
      a.serviceArticles__item(href='#')
        .serviceArticles__header Как ГИТ будет проверять работодателей в 2021 году?
        .serviceArticles__date 01.03.2020
        +the_svg(require('src/img/arrow.sprite.svg'))(class="serviceArticles__arrow")
