.serviceArticles {
  $this: &;

  &__row {
    display: flex;
    @include media('md') {
      flex-direction: column;
    }
  }

  &__info {
    max-width: 490px;
    display: flex;
    flex-direction: column;
    @include media('md') {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }

  &__button {
    margin-top: auto;
    padding-top: 10px;
  }

  &__list {
    width: 50%;
    margin-left: auto;
    flex-shrink: 0;
    @include media('md') {
      width: 100%;
    }
  }

  &__item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 30px;
    @include shadow();

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    font-size: 18px;
    font-weight: 600;
    color: $blue;
    max-width: 420px;
    @include media('md') {
      font-size: 14px;
    }
  }

  &__date {
    font-size: 12px;
    color: $grey;
    margin-top: 10px;
    @include media('md') {
      font-size: 10px;
    }
  }

  &__arrow {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 15px;
    bottom: 15px;
    color: $light-light-grey;
  }
}
