extends ../pug/_layout
include ../modules/head/head

block body
  .c
    +head('О НАС')
      a.btn.btn--outline(href='#')
        +the_svg(require('src/img/download.sprite.svg'))(class="btn__icon")
        span Скачать презентацию
    include ../modules/submenu/submenu
    .block.content
      p ЭАЦ "Технологии труда" работает на рынке охраны труда с 2006 года. За это время мы накопили большой опыт в реализации проектов различной сложности.
      p Главный ориентир - потребности клиентов. Исходя из поставленных задач, наши эксперты разрабатывают план работ по повышению эффективности охраны труда.
      p Местоположение и финансовые возможности Заказчика для нас - не преграда. Эксперты всегда идут навстречу и предлагают выгодные условия, а также выезжают даже в самые отдаленные точки нашей страны.
      p Наши клиенты находятся в 85 городах России, среди них:  АО «Вимм-Билль-Данн», АКБ «АБСОЛЮТ БАНК» (ПАО), АО «ОТП Банк», АО «Банк Русский Стандарт», ООО «Стройтехмаш», ООО «АШАН», АО «РЖДстрой», Mail.ru, PepsiCo, ФГБУ «Управление по Эксплуатации Зданий Федерального Собрания Российской Федерации», Управление Делами Президента Российской Федерации и другие организации.
      p В 2019 году "Технологии труда" заняла третье место в рейтинге «Технический аудит и консалтинг» агентства RAEX-Аналитика.

    include ../modules/advantages/advantages
    include ../modules/history/history
    include ../modules/testimonials/testimonials
    include ../modules/licenses/licenses
    include ../modules/team/team
    include ../modules/subscribe/subscribe
    //include ../modules/part

