extends ../pug/_layout
include ../modules/head/head

block body
  .c
    +head('КАРЬЕРА')
    include ../modules/submenu/submenu
    .block.content
      p ООО «ЭАЦ Технологии труда» на рынке оказания услуг по охране труда с 2006 года.
      p За это время мы:
      ul
        li реализовали ряд крупных проектов федерального уровня и тысячи локальных
        li внедрили новые технологии управления охраной и безопасностью труда на предприятиях наших Заказчиков
      p Мы входим в ТОП-5 лидеров рынка, наша испытательная лаборатория аккредитована в Росаккредитации, а эксперты по охране труда используют современное высококачественное оборудование.
      p Основа успеха компании – высокий уровень квалификации специалистов и возможность комплексного решения сложных проблем в сфере безопасности и охраны труда.
      p Приглашаем в нашу компанию инициативных, энергичных кандидатов, готовых работать с интересными задачами и выкладываться на 101%, с азартом преодолевать трудности и добиваться результата, стремящихся к повышению своего профессионального и личностного роста!

    include ../modules/advantages/advantages
    include ../modules/vacancies/vacancies


