extends ../pug/_layout

block body
  .c
    include ../modules/headBanner/headBanner
    include ../modules/services/services
    include ../modules/clients/clients
    include ../modules/about/about
    include ../modules/testimonials/testimonials
    include ../modules/banner/banner_bg
    include ../modules/events/events
    include ../modules/news/news
    include ../modules/subscribe/subscribe
