extends ../pug/_layout

block body
  include ../modules/head/head
  include ../modules/services/services
  include ../modules/clients/clients
  include ../modules/about/about
  include ../modules/testimonials/testimonials
  include ../modules/banner/banner
  include ../modules/events/events
  include ../modules/news/news
  include ../modules/subscribe/subscribe
