extends ../pug/_layout
include ../modules/head/head

block body
  .c
    +head('ПАРТНЕРЫ')
      a.btn.btn--sm.btn--outline(href='#')
        span Стать партнером
    include ../modules/submenu/submenu
    include ../modules/partners/partners
    include ../modules/subscribe/subscribe

