extends ../pug/_layout
include ../modules/head/head

block body
  .c
    +head('ПРЕСС-ЦЕНТР')
    include ../modules/submenu/submenu
    .block
      .row
        .col2
          .content
            p ООО «ЭАЦ Технологии труда» на рынке оказания услуг по охране труда с 2006 года.
            p - реализовали ряд крупных проектов федерального уровня и тысячи локальных
            p - внедрили новые технологии управления охраной и безопасностью труда на предприятиях наших Заказчиков
            p Мы входим в ТОП-5 лидеров рынка, наша испытательная лаборатория аккредитована в Росаккредитации, а эксперты по охране труда используют современное высококачественное оборудование.
            p Основа успеха компании – высокий уровень квалификации специалистов и
            p ООО «ЭАЦ Технологии труда» на рынке оказания услуг по охране труда с 2006 года.
            p - реализовали ряд крупных проектов федерального уровня и тысячи локальных
            p - внедрили новые технологии управления охраной и безопасностью труда на предприятиях наших Заказчиков
            p Мы входим в ТОП-5 лидеров рынка, наша испытательная лаборатория аккредитована в Росаккредитации, а эксперты по охране труда используют современное высококачественное оборудование.
            p Основа успеха компании – высокий уровень квалификации специалистов и

        .col1
          include ../modules/contactCard/contactCard


    include ../modules/smi/smi
    include ../modules/news/news
    include ../modules/serviceArticles/serviceArticles
    include ../modules/subscribe/subscribe

