extends ../pug/_layout
include ../modules/head/head

block body
  .c
    +head('УСЛУГИ')
    include ../modules/servicesCategory/servicesCategory
    include ../modules/servicesCategory/servicesCategory
    include ../modules/banner/banner

