extends ../pug/_layout
include ../modules/headBanner/headBanner

block body
  .c
    +headBanner(true)
    .block.content
      p Пакет документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда Пакет документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда Пакет документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда Пакет документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охране труда Пакет документов по охране труда документов по охране труда документов по охране труда документов по охране труда документов по охра
    include ../modules/advantages/advantages
    include ../modules/cases/cases
    include ../modules/pricelist/pricelist
    include ../modules/banner/banner_form
    include ../modules/steps/steps
    include ../modules/fines/fines
    include ../modules/licenses/licenses
    include ../modules/serviceArticles/serviceArticles
    include ../modules/subscribe/subscribe_bg

