extends ../pug/_layout
include ../modules/head/head

block body
  .c
    +head('МЫ В СМИ')
    include ../modules/submenu/submenu
    .block.content
      p ООО «ЭАЦ Технологии труда» на рынке оказания услуг по охране труда с 2006 года. - реализовали ряд крупных проектов федерального уровня и тысячи локальных - внедрили новые технологии управления охраной и безопасностью труда на предприятиях наших Заказчиков
      p Мы входим в ТОП-5 лидеров рынка, наша испытательная лаборатория аккредитована в Росаккредитации, а эксперты по охране труда используют современное высококачественное оборудование.
      p Основа успеха компании – высокий уровень квалификации специалистов и

    include ../modules/smi/smi_list
    include ../modules/subscribe/subscribe
    //include ../modules/part

