extends ../pug/_layout
include ../modules/head/head

block body
  .c
    +head('ОТЗЫВЫ')
    include ../modules/submenu/submenu
    include ../modules/clients/clients
    include ../modules/licenses/licenses_list
    include ../modules/subscribe/subscribe

    //include ../modules/part

