.servicesCategory {
  $this: &;

  &__title {
    font-size: 36px;
    font-weight: 700;
    color: $blue;
    @include media('md') {
      font-size: 18px;
    }
  }

  &__items {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    @include media('md') {
      margin: 0;
      display: block;
    }
  }

  &__item {
    width: 33.333%;
    padding: 15px;
    @include media('md') {
      width: 100%;
      padding: 0;
      margin-bottom: 15px;
    }
  }

  &__card {
    display: block;
    position: relative;
    background: $black 50% 50% no-repeat;
    background-size: cover;
    @include shadow();
    @include media('md') {
      height: 100px;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &:before {
      background: $black;
      opacity: .65;
    }

    &:after {
      background: $white;
      opacity: 0;
      @include anim();
    }

    &:hover {
      text-decoration: none;

      &:after {
        opacity: 1;
      }

      & #{$this} {
        &__header {
          transform: translateY(-20px);
          opacity: 0;
        }

        &__content {
          transform: none;
          opacity: 1;
          visibility: visible;
        }

        &__icon {
          color: $blue;
        }
      }
    }
  }

  &__icon {
    position: absolute;
    top: 30px;
    left: 25px;
    z-index: 2;
    //color: $blue;
    color: $white;
    @include media('md') {
      display: none;
    }

    svg {
      display: block;
      width: 32px;
      height: 32px;
      @include anim();
    }
  }

  &__header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    color: $white;
    font-size: 22px;
    font-weight: 600;
    @include anim();
    @include media('md') {
      font-size: 14px;
      padding: 0 50px 0 20px;
      top: 50%;
      transform: translateY(-50%);
      bottom: auto;
    }
  }

  &__content {
    //background: $white;
    position: relative;
    min-height: 280px;
    padding: 25px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(20px);
    @include anim();
    @include media('md') {
      display: none;
    }
  }

  &__head {
    color: $blue;
    font-size: 18px;
    font-weight: 600;
    padding-left: 60px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 11px;
    margin-bottom: auto;
  }

  &__mobileIcon {
    display: none;
    @include media('md') {
      position: absolute;
      background: rgba($white, .3);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      right: 20px;
      top: 50%;
      margin-top: -11px;

      svg {
        width: 8px;
        height: 8px;
        color: $white;
      }
    }
  }
}
