.nav {
  $this: &;

  &__item {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #EEEEEE;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media('md') {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }

    svg {
      width: 13px;
      height: 13px;
    }

    &--prev {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &--center {
    #{$this}__item {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &--prev {
        right: 100%;
        margin-right: 30px;
      }

      &--next {
        left: 100%;
        margin-left: 30px;
      }
    }
  }

  &__pagination {
    display: none;
    justify-content: center;
    margin-top: 20px;
    @include media('md') {
      display: flex;
    }

    &--desktop {
      display: flex;
    }

    .swiper-pagination-bullet {
      padding: 20px 5px;

      &:before {
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background: $light-grey;
        @include anim();
      }
    }
    .swiper-pagination-bullet-active:before {
      background: $blue;
    }
  }
}
