.breadcrumbs {
  $this: &;

  font-size: 12px;
  margin-bottom: 75px;
  @include media('md') {
    margin-bottom: 50px;
  }

  a {
    color: $dark-grey;

    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
}
