// ====================================
// colors
// ====================================

$black: #000;
$white: #fff;
$blue: #0067A5;
$orange: #F8851B;
$grey: #AFAFAF;
$dark-grey: #717476;

// ====================================
// grid settings
// ====================================
$gutter: 15px;
$gutter-half: ($gutter / 2);

//$breakpoint-sm: 468px
$breakpoint-lg: 798px;
$breakpoint-md: 1170px;

//$container-sm: 468px
$container-md: 768px;
$container-lg: 1140px;


