// ====================================
// colors
// ====================================

$black: #000;
$white: #fff;
$blue: #0067A5;
$orange: #F8851B;
$light-light-grey: #EEEEEE;
$light-grey: #C4C4C4;
$grey: #AFAFAF;
$dark-grey: #717476;
$dark-dark-grey: #454545;

// ====================================
// grid settings
// ====================================
$gutter: 15px;
$gutter-half: ($gutter / 2);

//$breakpoint-sm: 468px
$breakpoint-lg: 798px;
$breakpoint-md: 1200px;

//$container-sm: 468px
$container-md: 768px;
$container-lg: 1170px;


$header-top-height: 41px;
$header-bottom-height: 65px;
