html {
  font-family: 'Montserrat', sans-serif;
  color: $black;
  font-size: 16px;
  line-height: 1.25;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
  @include media('md') {
    font-size: 12px;
  }
}

@media print {
  @page {
    margin: 1cm;
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

html, body {
  min-height: 100vh;
}

.cWide {
  margin-left: auto;
  margin-right: auto;
  max-width: 1560px;
  padding: 0 40px;
  width: 100%;
}

.c {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-lg;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @include media('lg') {
    max-width: $container-md;
  }
  @include media('md') {
    padding-left: 20px;
    padding-right: 20px;
  }
}

img[data-src],
img[data-srcset] {
  min-height: 1px;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.small {
  font-size: 0.85rem;
  opacity: 0.5;
}

.animated {
  & > * {
    visibility: hidden;
  }
}

.nowrap {
  display: inline;
  white-space: nowrap;
}

.block {
  margin-top: 120px;
  margin-bottom: 120px;
  @include media('md') {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

//.textBlock {
//  margin-top: 60px;
//  margin-bottom: 60px;
//  @include media('md') {
//    margin-top: 30px;
//    margin-bottom: 30px;
//  }
//}

.blockHeader {
  $this: &;
  display: flex;
  margin-bottom: 45px;
  align-items: center;
  @include media('md') {
    margin-bottom: 30px;
  }

  &--mobileWithoutButton {
    @include media('md') {
      #{$this}__button {
        display: none;
      }
    }
  }


  &__aside {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__button {
    @include media('md') {
      width: 44px;
      height: 44px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        display: none;
      }

      svg:last-child {
        margin: 0;
      }
    }
  }
}

.row {
  display: flex;
  margin: 0 -15px;

  & > * {
    margin: 0 15px;
  }

  @include media('md') {
    flex-direction: column;
    margin: 0;
    & > * {
      margin: 15px 0;
    }
  }
}

.col1 {
  flex: 1;
}

.col2 {
  flex: 2;
}

.fullWidth {
  width: 100vw;
  width: calc(100vw - var(--scrollbar-width, 0px));
  left: 50%;
  transform: translateX(-50%);

  //margin-left: calc(-100vw / 2 + 500px / 2);
  //margin-right: calc(-100vw / 2 + 500px / 2);
}

.content {
  color: $dark-grey;

  h1, h2, h3, .h1, .h2, .h3 {
    color: $black;
    margin-bottom: .4em;
  }

  h4, h5, h6, .h4, .h5, .h6 {
    margin-bottom: .75em;
  }

  p {
    margin-bottom: .75em;
  }

  &--white {
    color: $white;

    h1, h2, h3, .h1, .h2, .h3 {
      color: $white;
    }
  }
}

.toTop {
  position: fixed;
  bottom: 50px;
  left: 50%;
  margin-left: 640px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: $light-light-grey;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media('md') {
    left: auto;
    margin-left: auto;
    bottom: 10px;
    right: 10px;
  }

  svg {
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
    color: $blue;
    margin-top: -3px;
  }
}
