h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: 0;
  font-weight: 700;
  //color: $black;
}

h1, .h1 {
  font-size: 48px;
}

h2, .h2 {
  font-size: 40px;
}

h3, .h3 {
  font-size: 34px;
}

h4, .h4, h5, .h5, h6, .h6 {
  color: $blue;
  font-weight: 500;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
}

b, strong {
  font-weight: 600;
}

p {
  margin-bottom: 0.7em;
}

a {
  color: $blue;
  //text-decoration: underline;

  &:hover {
    text-decoration: underline;
    //color: $blue;
  }
}

ul, ol {
  margin-bottom: 1.55em;
  line-height: 1.5;
}

ul li, ol li {
  margin-bottom: 1.2em;
  position: relative;
}

ul {
  list-style: none;
  padding-left: 1.55em;

  li {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -1.1em;
      //top: .45em;
      //width: .65em;
      //height: .65em;
      top: 6px;
      width: 8px;
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.074 6.08L.537 1.542 1.833.246 7.666 6.08l-5.833 5.834-1.296-1.297L5.074 6.08z' fill='%230067A5'/%3E%3C/svg%3E");
    }
  }

}

ol {
  counter-reset: list;
  list-style: decimal;
  padding-left: 1.55em;
}

del, s {
  text-decoration: line-through;
}

blockquote {
  background: #1a1616;
  color: #fff;
  font-size: 23px;
  line-height: 1.45;
  font-weight: 700;
  padding: 7% 10.5% 3%;
  position: relative;
  z-index: 1;
  max-width: 780px;
}


table {
  width: 100%;
  border-collapse: collapse;
}
