.events {
  &__slider {
    position: relative;
  }

  &__container {
    overflow: hidden;
    margin: -15px;
  }

  &__items {
    display: flex;
  }

  &__item {
    flex-shrink: 0;
    padding: 15px;
  }

  &__card {
    @include shadow();
    display: flex;
    min-height: 200px;
  }

  &__img {
    background: $black 50% 50%;
    background-size: cover;
    position: relative;
    width: 200px;
    flex-shrink: 0;
    color: $white;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $black;
      opacity: .6;
    }
  }

  &__label {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 5px;
    padding: 5px 10px;
    max-width: 160px;
  }

  &__date {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
  }

  &__day {
    font-size: 48px;
    margin-bottom: -5px;
  }

  &__content {
    padding: 30px 25px 25px;
    display: flex;
    flex-direction: column;

  }

  &__title {
    color: $blue;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__bullets {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &__bullet {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 10px 30px 10px 0;

    svg {
      width: 24px;
      height: 24px;
      color: $blue;
      margin-right: 15px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__text {
    color: $dark-grey;
    font-size: 12px;
    margin-bottom: 20px;
  }

  &__footer {
    margin-top: auto;
    text-align: right;
  }

  &__more {
    color: $black;

    &:hover {
      color: $blue;
      text-decoration: none;
    }
    svg {
      width: 12px;
      height: 12px;
      color: $blue;
      vertical-align: middle;
    }
  }
}
