.socials
  a(href='#'): +the_svg(require('src/img/facebook.sprite.svg'))
  a(href='#'): +the_svg(require('src/img/instagram.sprite.svg'))
  a(href='#'): +the_svg(require('src/img/whatsapp.sprite.svg'))
