.notFound {
  $this: &;

  min-height: 100vh;
  display: flex;
  align-items: center;
  @include media('md') {
    align-items: stretch;
  }

  &__content {
    display: flex;
    align-items: stretch;
    @include media('md') {
      flex-direction: column;
      height: 100%;
      padding: 60px 0;
    }

  }

  &__logo {
    @include media('md') {
      margin-right: 20px;
      img {
        max-width: 100%;
        min-width: 0;
        height: auto;
      }
    }
  }

  &__hamburger {
    display: none;
    @include media('md') {
      display: block;
      margin-left: auto;
      svg {
        color: $blue;
        width: 19px;
        height: 19px;
      }
    }

  }

  &__aside {
    width: 360px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include media('md') {
      width: 100%;
      flex-direction: row;
      align-items: center;
      position: relative;
    }
  }

  &__asideContent {
    margin-top: 45px;
    flex: 1;
    display: flex;
    flex-direction: column;
    @include media('md') {
      position: absolute;
      background: $white;
      @include shadow();
      left: 0;
      right: 0;
      top: 100%;
      margin-top: 20px;
      padding: 40px 0;
      opacity: 0;
      pointer-events: none;
      transform: translateY(20px);
      @include anim();

      &--active {
        opacity: 1;
        pointer-events: all;
        transform: none;
      }
    }
  }

  &__menu {
    ul, li {
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 10px;
      @include media('md') {
        text-align: center;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        display: none;
      }
    }

    a, span {
      font-size: 24px;
      font-weight: 500;
      color: $black;
      @include anim();
      @include media('md') {
        font-size: 16px;
      }
    }

    a {
      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
  }

  &__front {
    margin-top: auto;
    @include media('md') {
      margin-top: 20px;
      text-align: center;
      .btn {
        width: auto;
      }
    }
  }

  &__main {
    flex: 1;
    @include media('md') {
      display: flex;
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    @include media('md') {
      flex: 1;
      margin-bottom: 40px;
    }
  }

  &__center {
    text-align: center;
    width: 470px;
    @include media('md') {
      width: 100%;
    }
  }

  &__title {
    font-size: 144px;
    font-weight: 700;
    color: $blue;
    @include media('md') {
      font-size: 72px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 500;
    color: $blue;
    @include media('md') {
      font-size: 18px;
    }
  }

  &__text {
    margin-top: 50px;
    color: $dark-dark-grey;
    font-size: 18px;
    @include media('md') {
      font-size: 13px;
    }
  }

  &__right {
    margin-left: auto;
    @include media('md') {
      display: none;
    }
  }

  &__search {
    margin-top: 70px;
    border: 1px solid $light-light-grey;
    border-left: 0;
    border-right: 0;
    position: relative;
    height: 45px;
    @include media('md') {
      margin-top: auto;
    }
  }

  &__searchIcon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    @include media('md') {
      left: 0;
    }

    svg {
      display: block;
      width: 18px;
      height: 18px;
      color: $blue;
    }
  }

  &__searchInput {
    display: block;
    height: 100%;
    width: 100%;
    padding-left: 60px;
    padding-right: 70px;
    font-size: 14px;
    @include media('md') {
      padding-left: 25px;
    }
  }

  &__searchButton {
    position: absolute;
    right: 0;
    padding: 0 10px;
    top: 0;
    color: $blue;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
  }
}
