.about.block
  .c
    .about__row
      .about__left
        .content
          h2 О НАС
          h4 Качество#[br]и ответственность
          p Сформированные за десятилетия собственные методики и опыт позволяют нашим экспертам даже в рамках ограниченного бюджета выполнять качественные проекты. Всю ответственность за выполнение работ по охране труда и производственной безопасности мы полностью берем на себя: субподрядчики не привлекаются, а деятельность компании застрахована на 35 млн рублей!
          .about__button
            a.btn.btn--outline(href='#')
              |Подробнее
              +the_svg(require('src/img/arrow.sprite.svg'))(class="btn__icon")

      .about__right
        .about__items
          .about__item
            .about__card(style='background-image: url(' + require('src/modules/about/img/image.jpg') + ')')
              .about__content
                .about__title 14 000+
                | обучено специалистов
          .about__item
            .about__card(style='background-image: url(' + require('src/modules/about/img/image.jpg') + ')')
              .about__content
                .about__title 14 000+
                | обучено специалистов
          .about__item
            .about__card(style='background-image: url(' + require('src/modules/about/img/image.jpg') + ')')
              .about__content
                .about__title 14 000+
                | обучено специалистов
          .about__item
            .about__card(style='background-image: url(' + require('src/modules/about/img/image.jpg') + ')')
              .about__content
                .about__title 14 000+
                | обучено специалистов
