.cookieWarn
  .c
    .cookieWarn__content
      .cookieWarn__info
        b Мы используем файлы cookie
        br
        |Пользуясь настоящим веб-сайтом, Вы даете свое согласие на использование файлов cookies.
        br
        a(href='#') Узнать подробнее >
      .cookieWarn__aside
        button.btn.btn--outline.cookieWarn__button Ок
