.banner.block
  .banner__content
    .banner__text
      h2.banner__title ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
      p Решение проблем в сфере охраны труда - это смысл деятельности экспертно- аналитического центра “Технологии труда”!
    .banner__action
      button.btn.btn--orange Оставить заявку
