.banner {
  $this: &;

  &--bg {
    background: $black 50% 50%;
    background-size: cover;
    min-height: 320px;
    padding: 40px 0;
    position: relative;
    display: flex;
    align-items: center;

    & #{$this}__text {
      color: $white;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $black;
      opacity: .7;
    }
  }


  &__content {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__text {
    flex: 1;
    //max-width: 770px;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__action {
    width: calc(100% - 770px);
    flex-shrink: 0;
    text-align: right;
  }

  &__form {
    margin-top: 35px;
  }
}
