.clients {
  $this: &;

  &__row {
    display: flex;

  }

  &__left {
    //width: 430px;
    margin-right: 100px;
    //flex-shrink: 0;
  }

  &__right {
    min-width: 610px;
    position: relative;
  }

  &__bullet {
    color: $blue;
    font-size: 22px;
    margin-bottom: 10px;
  }

  &__number {
    font-size: 64px;
    margin-bottom: -12px;
  }

  &__text {
    color: $dark-grey;
  }

  &__container {
    overflow: hidden;
    //margin-top: 30px;

    &.swiper-container-multirow {
      & #{$this}__items {
        flex-wrap: wrap;
      }
    }
  }


  &__items {
    display: flex;
    position: relative;
    margin: -1px 0;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background: $white;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 1px;
    }
  }

  &__item {
    flex-shrink: 0;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $light-light-grey;
    border-top: 0;
    border-left: 0;
    //margin: -1px;
  }
}
