header.header
  .header__top
    .c
      .header__row
        .header__topMenu
          ul
            li: a(href='#') О компании
            li: a(href='#') Пресс-центр
            li: a(href='#') Мероприятия
            li: a(href='#') Контакты
        .header__works
          | Пн-пт с 9.00 до 18.00
          .header__sep
          | Работаем по всей России
        a.header__phone(href='tel:') +7 (495) 191-08-97
        button.header__search
  .header__bottom
    .c
      .header__row
        img.header__logo(src=require('src/img/logo.png'))

        .header__menu
          ul
            li: a(href='#') СПЕЦОЦЕНКА
            li: a(href='#') ПК
            li: a(href='#') ОЦЕНКА ПРОФРИСКОВ
            li: a(href='#') УЧЕБНЫЙ ЦЕНТР
            li: a(href='#') ЕЩЕ
        .header__contacts
          button.btn.btn--orange Оставить заявку
        button.header__hamburger
          +the_svg(require('src/modules/header/img/menu.sprite.svg'))(class='header__hamburgerIcon')

