.header {
  $this: &;

  @include shadow();
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.57);
    opacity: 0;
    visibility: hidden;
    @include anim();
  }

  &--menu {
    &:before {
      opacity: 1;
      visibility: visible;
    }

    & #{$this}__fullMenu {
      opacity: 1;
      transform: none;
      visibility: visible;
      //pointer-events: all;
    }
  }

  &__fullMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(50px);
    visibility: hidden;
    pointer-events: none;
    @include anim(.2s);
    z-index: 1;
    will-change: opacify, trasform, visibility;
  }

  &__placeholder {
    height: $header-top-height + $header-bottom-height;
  }

  &__top, &__bottom {
    background: $white;
    position: relative;
    z-index: 1;
  }

  &__top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  }

  &__top &__row {
    height: $header-top-height - 1px; // border
  }

  &__bottom &__row {
    height: $header-bottom-height;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__topMenu {
    margin-right: auto;

    li:before {
      display: none;
    }

    ul {
      font-size: 10px;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 14px 0 0;
      list-style: none;
    }

    a {
      color: $black;

      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }

  &__works {
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  &__sep {
    background: $blue;
    width: 1px;
    height: 10px;
    margin: 0 15px;
  }

  &__phone {
    font-weight: 600;
    color: $blue;
    margin-left: 60px;
  }

  &__search {
    margin-left: 30px;

    &:before {
      content: '';
      display: block;
      @include sprite($search);
    }
  }

  &__logo {
    display: block;
    height: auto;
    flex-shrink: 0;
  }

  &__menu {
    flex: 1;

    ul {
      font-size: 13px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    li:before {
      display: none;
    }

    li {
      margin: 0 10px 0;
      list-style: none;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: $black;

      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }

  &__hamburger {
    margin-left: 30px;
  }

  &__hamburgerIcon {
    width: 19px;
    height: 19px;
  }
}
