footer.footer
  .footer__top
    .c
      .footer__row
        .footer__col
          img.footer__logo(src=require('src/img/logo.png'))
          .footer__address Москва, Переведеновский пер., д. 13, стр. 18
          .footer__work
            .footer__workLabel График работы
            | Пн-пт с 9.00 до 18.00


        .footer__menu
          ul
            li: a(href='#') О КОМПАНИИ
            li: a(href='#') УСЛУГИ
            li: a(href='#') ПРЕСС-ЦЕНТР
            li: a(href='#') РЕКВИЗИТЫ

        .footer__col
          .footer__submenu
            ul
              li: a(href='#') Пользовательское соглашение
              li: a(href='#') Политика о конфиденциальности
              li: a(href='#') Условия использования cookie

        .footer__aside
          a.footer__phone(href='tel:') +7 (495) 191-08-97
          a.footer__email(href='mailto:') info@eactt.ru
          .footer__contact
            .footer__contactLabel
              +the_svg(require('src/img/arrow.sprite.svg'))
              | Позвоните нам или#[br]оставьте заявку
            button.btn.btn--orange Оставить заявку


  .footer__bottom
    .c
      .footer__row
        .footer__copyright 2005-2021 ООО “ЭАЦ “Технологии труда””. Все права защищены
        .footer__socials
          img(src=require('src/modules/footer/img/socials.png'))
