.licenses.block
  .licenses__list
    each i in [1,2,3,4,5,6,7]
      .licenses__item
        a.licenses__doc.gallery__item(style='background-image: url(' + require('src/modules/licenses/img/img.jpg') + ')' data-index=(i - 1) data-width=222 data-height=309 href=require('src/modules/licenses/img/img.jpg'))
          .licenses__button: +the_svg(require('src/img/expand.sprite.svg'))
          .licenses__content
            .licenses__header Уведомление Минтруда
            .licenses__text о внесении в реестр организаций, проводящих СОУТ
  include ../pagination/pagination
