.contacts {
  $this: &;
  display: flex;

  &__main {
    flex: 1;
  }

  &__block {
    margin-bottom: 55px;
  }

  &__label {
    color: $grey;
    margin-bottom: 5px;
  }

  &__value {
    font-size: 22px;
  }

  &__buttons {
    margin-top: 30px;

    > * {
      margin-right: 15px;
    }
  }

  &__aside {
    width: 550px;
    margin-left: 35px;
    flex-shrink: 0;
  }

  &__map {
    background: $light-grey;
    height: 330px;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -15px -15px -15px;
  }

  &__photo {
    width: 50%;
    padding: 15px;

    img {
      display: block;

    }
  }
}
